GCP_PROJECT_ID: soulfuljourney
GCP_ZONE: us-central1-f
GCP_INSTANCE_NAME: soulfuljourneyserver
TARGET_INSTANCE_ID: soulfuljourneyserver
SERVER_PORT: "7777"
MAX_PLAYERS: "4"
JOIN_TICKET_SECRET: qVTzX/itxIDNBLL2INBedICZTm2FjKNLADenDaDZL5ZuUQVbMKUIs47ANUvlQqcM
SERVER_WARMUP_SECONDS: "15"
JOIN_TICKET_TTL_SECONDS: "90"
JOIN_TICKET_SCOPE: join
SERVER_ADDRESS_OVERRIDE: 35.188.194.106
REQUIRE_PUBLIC_ADDRESS: "true"
ALLOW_ANONYMOUS_JOIN_TICKETS: "false"
OIDC_REQUIRED_ISSUER: https://securetoken.google.com/soulfuljourney
OIDC_REQUIRED_AUDIENCE: soulfuljourney
OIDC_REQUIRED_SCOPE: ""
OIDC_REQUIRED_GROUP: ""
FIREBASE_TOKEN_CLOCK_SKEW_SECONDS: "30"